[
  {
    "cpu": 0,
    "name": "${name}-${environment}",
    "image": "test",
    "essential": true,
    "portMappings": [],
    "environment": [
        ${value}
    ],
    "logConfiguration": { 
       "logDriver": "awslogs",
       "options": { 
          "awslogs-group" : "/aws/ecs/${environment}",
          "awslogs-region": "${region}",
          "awslogs-stream-prefix": "${name}"
        }
    },
    "volumes": [],
    "mountPoints": []
  }
]


